<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.71.0.0" targetFramework="native" />
  <package id="boost_chrono-vc140" version="1.71.0.0" targetFramework="native" />
  <package id="boost_date_time-vc140" version="1.71.0.0" targetFramework="native" />
  <package id="boost_thread-vc140" version="1.71.0.0" targetFramework="native" />
  <package id="jsoncpp-vc140-static-32_64" version="1.8.0" targetFramework="native" />
  <package id="rapidjson" version="1.0.2" targetFramework="native" />
</packages>